<div class="container mt-5">
  <div class="row">
    <% @products.each do |p| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-header">
            <h3> <%= p.name %> </h3>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <img src="https://dosya.turkmmo.com/2020/08/31970_1e14f2f1e49479f32f4a50c57603251b.png" width="100%">
              </div>
              <div class="col-md-8">
                <p> <strong>Ürün ismi:</strong> <%= p.name %> </p>
                <p> <strong>Ürün Kategorisi:</strong><%= p.product_categories.first.category.name %> </p>
                <p> <strong>Marka:</strong><%= p.brand.name %> </p>
                <p> <strong>Fiyat:</strong><%= p.price %> TL</p>
                <p> <strong>Ürün Açıklaması:</strong><%= p.description %> </p>
                <p> <strong>Ürün Uyumu:</strong><%= p.compatibility %> </p>
              </div>
            </div>
            <div class="d-grid gap-2">
              <%= link_to "Ürün Detayına Git", root_path, class:"btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>







<!--<h1>Pages#home</h1>
<p>Find me in app/views/home/index.html.erb</p>
<% if current_user %>
  <p> Hello <%= current_user.email %></p>
  <p>
    You have succesfuly aut
  </p>
  <p>
    you are a [<%= current_user.role %>]
  </p>
  <% if current_user.admin? %>
  <p>Admin ayarları</p>
  <% end %>
  <p>
    <%= link_to "sign out", destroy_user_session_path, 'data-turbo-method': :delete %>
  </p>
<% else %>
  <p>Giriş yapılmamış.</p>
  <%= link_to "Sign up",  new_user_registration_path %>
  <%= link_to "Log in",  new_user_session_path %>
<% end %>
-->